body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    background: url("https://source.unsplash.com/collection/148982/1920x1080") center;
    background-size: cover;
    overflow: hidden;
}
#mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#clock {
    color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 170px;
    text-align: center;
    font-size: 140px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'El Messiri';
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px;
}
@media screen and (max-width: 480px) {
    #clock {
        font-size: 26vw;
        height: 32vw;
    }
}
#search {
    width: 100vw;
    text-align: center;
    border: 0;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(0,0,0,0);/*把游標和文字隱藏*/
    text-shadow: 0 0 0 rgba(255,255,255,0.65),0 0 20px rgba(0,0,0,0.2);/*用陰影設定文字的顏色*/
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    -webkit-appearance: none;
    word-spacing: 5px;
}
#search:focus {
    border: 0;
    outline: none;
}

#customAlert {
    display: none;
    width: 100vw;
    height: 100vh;
}

#customAlert p {
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    margin: 0;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 3;
}
#footer::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left:-15px;
    z-index: -1;
    width: calc(100vw + 30px);
    height: 145px;
    background: -moz-linear-gradient(top,  transparent 0,rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    filter: blur(15px);
}
#counterDisplay {
    padding: 10px;
    color: rgba(255,255,255,0.4);
    font-weight: 100;
}